<%= form_with(model: salary_report, data: {turbo: false}) do |form| %>


  <div>
    <%= form.label :date_from %>
    <%= form.date_field :date_from, value: Date.today.at_beginning_of_month if salary_report.new_record? %>
  </div>

  <div>
    <%= form.label :date_to %>
    <%= form.date_field :date_to, value: Date.today.at_end_of_month if salary_report.new_record? %>
  </div>

  <div>
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :login, {prompt: true, selected: (User.current if salary_report.new_record?)}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>


<% end %>
