<%= form_with(model: report, data: {turbo: false}) do |form| %>


  <div>
    <%= form.label :date_from %>
    <%= form.date_field :date_from %>
  </div>

  <div>
    <%= form.label :date_to %>
    <%= form.date_field :date_to %>
  </div>

  <div>
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :login, {prompt: true}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>


<% end %>
